.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 24px 42px;
  &__left {
    display: flex;
    align-items: center;
    :global {
      .ant-input-affix-wrapper {
        width: 200px;
        height: 34px;
        border-radius: 30px;
        .ant-input-prefix {
          font-size: 12px;
          color: #7c7c7c;
        }
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    &-actions {
      margin-left: 22px;
      :global {
        .anticon {
          font-size: 18px;
          color: #7c7c7c;
          margin-right: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
