@import 'normalize.css';
@import 'var.scss';
@import 'reset-antd.scss';
html,
body {
  color: #000;
  height: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
  font-size: 13px;
  font-family: poppin, Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif;
  font-family: Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif, 9;
}

#root {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::-webkit-input-placeholder{
  font-size: 12px !important;
  color: #9b9b9b !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(#d0d0d0, 0.5);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  display: none;
}
