.ant-input-affix-wrapper {
  border: none !important;
  background-color: #ddd !important;
  &:focus, &-focused {
    box-shadow: none !important;
  }
  &:not(.nt-input-affix-wrapper):hover {
    border-color: none !important;
    box-shadow: red !important;
  }
  .ant-input {
    background-color: #ddd !important;
    font-size: 13px !important;
  }
  .ant-input-prefix {
    margin-right: 8px;
  }
}
