:root {
  --primary-color: #31c27c;
  --color-1: #000000;
  --color-2: #606060;
  --color-3: #7b7b7b;
  --text-color: var(--color-1);
  --sub-text-color: var(--color-3)
  --icon-color: var(--color-3);
  --hover-color: var(--primary-color);
}
