.sidebar {
  width: 210px;
  background-color: #f0f0f0;
  &__logo {
    margin: 0;
    padding: 24px 0 10px 42px;
    img {
      width: 90px;
      height: 24px;
    }
  }
  &__classifications {
    padding: 18px 26px;
    .sidebar__classification {
      margin-bottom: 50px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &-title {
        font-size: 12px;
        color: #a8a8a8;
        padding-left: 18px;
        margin-bottom: 16px;
      }
      &-menus {
        .menu {
          padding: 0 16px;
          margin-bottom: 12px;
          line-height: 30px;
          border-radius: 4px;
          color: #606060;
          &.is-active {
            color: #fff;
            background-image: linear-gradient(to right, #1dd5c0, #30c37c);
          }
          &:hover {
            background-color: #dcdcdc;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          &__icon {
            font-size: 16px;
            vertical-align: text-bottom;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
